---
BasedOnStyle: LLVM
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: Consecutive
AlignAfterOpenBracket: true
AlignArrayOfStructures: Left
IndentWidth: 4
ColumnLimit: 118
AlignTrailingComments:
  Kind: Always
BinPackArguments: false
BinPackParameters: false
InsertNewlineAtEOF: true
---
