:root {
  --BG_1: #0c0a14;
  --BG_2: #12101c;
  --BG_3: #1a1726;
  --BG_4: #1e1a2e;
  --BG_5: #242034;
  --BG_6: #312c42;
  --ACCENT: #d2be8c;
  --TEXT: #f8f5ec;
  --TEXT_DIM: #9b9b9b;

  --PADDING_MD: 0.4rem;
}

/* RESET AND NICER DEFAULTS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  height: 100%;
  height: 100dvh;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}
/* RESET AND NICER DEFAULTS END HERE */

body {
  width: 100%;
  height: 100%;
  height: 100dvh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  image-rendering: pixelated;
  background-color: var(--BG_1);
  color: var(--TEXT);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-color: var(--BG_2);
  color: var(--TEXT);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: var(--PADDING_MD);
  h1 {
    font-size: 1.5rem;
  }
}

#instrument-panel {
  background-color: var(--BG_2);
  padding: var(--PADDING_MD);
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  canvas {
    border-radius: 2rem;
    outline: inset var(--ACCENT) 2px;
  }
  /* for now */
  display: none;
}

#command-palette {
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  background-color: var(--BG_6);
  color: var(--TEXT);
  height: 30rem;
  width: 50rem;
}

#arrangement {
  /* for now */
  display: none;
  flex-direction: column;
  font-size: 1.5rem;
  height: fit-content;
  padding: 1rem;
}

.pattern-container {
  display: none;
  flex-direction: column;
}

.pattern-cell {
  display: grid;
  place-items: center;
  padding: 0.1rem 0.5rem;
  background-color: var(--BG_1);
  &:first-child {
    border-top: solid var(--TEXT_DIM) 1px;
  }
  &:nth-child(4n + 1) {
    background-color: var(--BG_6);
  }
  &:nth-child(4n + 3) {
    background-color: var(--BG_3);
  }
}

#chart-label {
  position: absolute;
  top: 6.5rem;
  font-size: 1rem;
  left: 31rem;
  transform: translate(350px, 0px);
}
